fastapi
uvicorn
python-multipart
streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-dotenv
openai
tiktoken
pytest
httpx
python-docx
beautifulsoup4
pinecone-client
langchain-groq
langchain-huggingface
sentence-transformers